<!doctype html>
<html class="no-js" lang=""  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="webthemez">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/web/css/flexslider.css}">
<link rel="stylesheet" th:href="@{/web/css/jquery.fancybox.css}">
<link rel="stylesheet" th:href="@{/web/css/main.css}">
<link rel="stylesheet" th:href="@{/web/css/responsive.css}">
<link rel="stylesheet" th:href="@{/web/css/font-icon.css}">
<link rel="stylesheet" th:href="@{/web/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/web/css/style4.css}"/>
<link rel="stylesheet" th:href="@{/web/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/web/css/animate.min.css}">
</head>

<body>
<section class="banner" role="banner" id="home">
  <header id="header">
    <div class="header-content clearfix">
      <a class="logo" href="#">官网</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		 <li><a href="#home">首页</a></li>
          <li><a href="#services">企业品牌</a></li>
          <li><a href="#content-3-10">关于鼎味轩</a></li>
          <li><a href="#gallery">案例展示</a></li>
          <li><a href="#teams">新闻中心</a></li>
		  <li><a href="#price">加盟合作</a></li>
          <li><a href="#testimonials">企业风采</a></li>
         <!-- <li><a href="#contact">联系我们</a></li>-->
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
<div id="first-slider" class="paddingTop150">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li> 
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active slide1">
                <div class="row"><div class="container"> 
                    <div class="col-md-9 text-left">
                        <h3 data-animation="animated bounceInDown">关于鼎味轩</h3>
                        <h4 data-animation="animated bounceInUp"></h4>
                     </div>
                </div></div>
             </div>
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown"></h3>
                        <h4 data-animation="animated bounceInUp"> </h4>
                     </div> 
                </div></div>
            </div>
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown"></h3>
                        <h4 data-animation="animated bounceInUp"></h4>
                     </div>    
                </div></div>
            </div>     
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>
  
</section>
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h3>鼎味轩</h3>
      <p>秉承精细化管理理念，致力于餐饮管理、餐饮运营、连锁经营四大核心业务的发展，向餐饮合作伙伴提供品牌输出、运营指导方案设计等多重服务，通过创新型、高赢利的餐饮项目，为合作伙伴创造滚滚财富，实现成功梦想。</p>
    </div>
  </div>
</section>
<section id="services" class="services service-section">
  <div class="container">
  <div class="section-header">
                <h2 class="wow fadeInDown animated">企业文化</h2>
                <p class="wow fadeInDown animated">关于鼎味轩餐饮管理有限公司是一家集餐饮管理、 餐饮运营指导餐饮营销策划、餐饮技术培训、餐饮食品研发为一体的餐饮企业公司由一批拥有十余年餐饮连锁运营管理经验的精英共同打造核心骨干成员均来自全国各大城市的连锁品牌管理先驱者<br></p>
            </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-focus"></span>
        <div class="services-content">
          <h5>核 / 心 / 价 / 值 / 观</h5>
          <p>专业: 孜孜不倦精益求精 创新: 匠心独运超越自我 责任: 以身作则勇于担当 共嬴: 齐心协力共创辉煌</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-ribbon"></span>
        <div class="services-content">
          <h5>企 / 业 / 愿 / 景</h5>
          <p>做餐饮行业品牌领导者</br>&nbsp;</br>&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-megaphone"></span>
        <div class="services-content">
          <h5>核 / 心 / 追 / 求</h5>
          <p>不放过每一个细微环节 不忽视每一个细小漏洞</br>&nbsp;</br>&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-flag"></span>
        <div class="services-content">
          <h5>企 / 业 / 理 / 念</h5>
          <p>经营理念: 让客户满意,让与员工提升,让企业发展,让社会进步</br>管理理念: 以人为本,为客户创造价值,为员工创造未来的</br>团队理念: 下上沟通达共识,左右协调求高效</br>人才理念: 用人唯才,用才唯德</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-map"></span>
        <div class="services-content">
          <h5>企 / 业 / 理 / 念</h5>
          <p>经营理念: 让客户满意,让与员工提升,让企业发展,让社会进步</br>管理理念: 以人为本,为客户创造价值,为员工创造未来的</br>团队理念: 下上沟通达共识,左右协调求高效</br>人才理念: 用人唯才,用才唯德</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-envelope"></span>
        <div class="services-content">
          <h5>企 / 业 / 理 / 念</h5>
          <p>经营理念: 让客户满意,让与员工提升,让企业发展,让社会进步</br>管理理念: 以人为本,为客户创造价值,为员工创造未来的</br>团队理念: 下上沟通达共识,左右协调求高效</br>人才理念: 用人唯才,用才唯德</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content-3-10" class="content-block data-section nopad content-3-10">
	<div class="image-container col-sm-6 col-xs-12 pull-left">
		<div class="background-image-holder">

		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
				<div class="editContent">
					<h3>公司简介</h3>
				</div>
				<div class="editContent">
					<p>关于鼎味轩餐饮管理有限公司是一家集餐饮管理、 餐饮运营指导餐饮营销策划、餐饮技术培训、餐饮食品研发为一体的餐饮企业公司由一批拥有十余年餐饮连锁运营管理经验的精英共同打造核心骨干成员均来自全国各大城市的连锁品牌管理先驱者。</p>
					<p>公司自创建之日起，就秉承“以人为本，为客户创造价值， 为员工创造未来的”核心价值观，致力于在全国范围内，打造轻餐饮龙头企业。通过不断的努力和长期以来的发展，取得了显著的成效旗下“ 万润”品牌先后创立了鼎玖香、幸福桃源、湘遇湘知、三剑合璧等众多知名产品，为推动中国时尚餐饮业发展，做出了强大的贡献，欢迎来电咨询。</p>
				</div>
				<a href="#gallery" class="btn btn-outline btn-outline outline-dark">案例展示</a>
			</div>
		</div>
	</div>
</section>


<section class="video-section">
  <div class="container"> 
    <div class="row">  
            <div id="content24" data-section="content-24" class="data-section"> 
    		<div class="col-md-6">
				<h3 class="eidtContent">团队介绍</h3>
				<p class="eidtContent"><b>品 牌 中 心</b>&nbsp;&nbsp;鼎味轩品牌中心包含策划、文案、平面、空间四大团队，专注于品牌的建设和维护。 从店铺的设计到活动策划、自媒体的推广等等全方位的打造品牌影响力，提供365天热点营销活动支持，为店铺带来消费者，提高营业额。</p>
   				<p class="editContent"><b>培 训 中 心</b>&nbsp;&nbsp;鼎味轩品牌中心包含策划、文案、平面、空间四大团队，专注于品牌的建设和维护。 从店铺的设计到活动策划、自媒体的推广等等全方位的打造品牌影响力，提供365天热点营销活动支持，为店铺带来消费者，提高营业额。</p>
				<p class="editContent"><b>运 营品 牌 中 心</b>&nbsp;&nbsp;鼎味轩品牌中心包含策划、文案、平面、空间四大团队，专注于品牌的建设和维护。 从店铺的设计到活动策划、自媒体的推广等等全方位的打造品牌影响力，提供365天热点营销活动支持，为店铺带来消费者，提高营业额。</p>
    		</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="" allowfullscreen=""></iframe>
				</div>
			</div> 
    	</div>
			</div>
  </div>
</section>
<div class="tlinks"></div>
<section id="gallery" class="gallery section">
  <div class="container-fluid">
    <div class="section-header">
      <h2 class="wow fadeInDown animated">案例展示</h2>
      <!--<p class="wow fadeInDown animated">签约合作</p>-->
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="person"><img th:src="@{/web/images/case/1.jpg}" alt="" class="img-responsive">
                <div class="person-content">
                    <p>店面展示</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="person"><img th:src="@{/web/images/case/2.jpg}" alt="" class="img-responsive">
                <div class="person-content">
                    <p>店面展示</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="person"><img th:src="@{/web/images/case/3.jpg}" alt="" class="img-responsive">
                <div class="person-content">
                    <p>店面展示</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<section id="teams" class="section teams">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">新闻中心</h2>
            </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="person"><img th:src="@{/web/images/news/1.jpg}" alt="" class="img-responsive">
         <!-- <div class="person-content">
            <p>恭喜襄阳陈小姐成功签约合作库玛茶餐饮项目</p>
          </div>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"><img th:src="@{/web/images/news/2.jpg}" alt="" class="img-responsive">
         <!-- <div class="person-content">
            &lt;!&ndash; <h4>Chen Xu</h4>
            <h5 class="role">Technical</h5> &ndash;&gt;
            <p>恭喜襄阳陈小姐成功签约合作库玛茶餐饮项目</p>
          </div>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"><img th:src="@{/web/images/news/3.jpg}" alt="" class="img-responsive">
         <!-- <div class="person-content">
            &lt;!&ndash; <h4>Chen Xu</h4>
            <h5 class="role">Technical</h5> &ndash;&gt;
            <p>恭喜襄阳陈小姐成功签约合作库玛茶餐饮项目</p>
          </div>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"><img th:src="@{/web/images/news/4.jpg}" alt="" class="img-responsive">
         <!-- <div class="person-content">
                <p>恭喜襄阳陈小姐成功签约合作库玛茶餐饮项目</p>
            </div>-->
        </div>
      </div>
    </div>

      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="person"><img th:src="@{/web/images/news/5.jpg}" alt="" class="img-responsive">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="person"><img th:src="@{/web/images/news/6.jpg}" alt="" class="img-responsive">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="person"><img th:src="@{/web/images/news/7.jpg}" alt="" class="img-responsive">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="person"><img th:src="@{/web/images/news/8.jpg}" alt="" class="img-responsive">
              </div>
          </div>
      </div>
  </div>
    </div>
  </div>
</section>
<!-- our team section --> 
<section id="price">
 <div id="pricing5" data-section="pricing-5" class="data-section">
    	<div class="container">
		   <div class="section-header">
                <h2 class="wow fadeInDown animated">加盟合作</h2>
           </div>
           <div class="row">
              <h3 class="wow fadeInDown animated">统一品牌的支持</h3>
              <p class="wow fadeInDown animated">形象识别、理念识别、店面规划、装修格调、管理模式、员工着装、经营物料、配方配料、料理程序、顾客服务统一，所有门店共享国际品牌的品牌能量</p>
               <div class="row">
                   <div class="col-md-3 col-sm-6">
                       <div class="person"><img th:src="@{/web/images/brand/1.jpg}" alt="" class="img-responsive">
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6">
                       <div class="person"><img th:src="@{/web/images/brand/2.jpg}" alt="" class="img-responsive">
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6">
                       <div class="person"><img th:src="@{/web/images/brand/3.jpg}" alt="" class="img-responsive">
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6">
                       <div class="person"><img th:src="@{/web/images/brand/4.jpg}" alt="" class="img-responsive">
                       </div>
                   </div>
               </div>
           </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">高端设备支持</h3>
                            <p>总部提供国际或者国家认可认证的优质制造设备这些设备有利于提高门店的生产效率、作业质量管理水准和创收能力。</p>
                        </div>
                        <img th:src="@{/web/images/brand/a-1.png}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">优质食材支持</h3>
                            <p>总部提供国际或者国家认可认证的优质制造设备这些设备有利于提高门店的生产效率、作业质量管理水准和创收能力。 </p>
                        </div>
                        <img th:src="@{/web/images/brand/a-2.png}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">经营物料支持</h3>
                            <p>统一装修识别物料、统一经营管理工具、统一餐具，统一宣传物料，帮您减负的同时不断释放品牌诱惑力，凝聚客源。</p>
                        </div>
                        <img th:src="@{/web/images/brand/a-3.png}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">人力资源支持</h3>
                            <p>总部乐意向全国各地客户输送优秀的技术人才和管理人才，同时协助门店制定招聘人才计划，以及培养发掘人才计划等。 </p>
                        </div>
                        <img th:src="@{/web/images/brand/a-4.png}" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">管理模式支持</h3>
                            <p>鼎味轩餐饮按照总部长期优化形成的运营模式，执行高效的经营管理，减少损耗与风险，提升管理效率，提升竞争力。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person"><img th:src="@{/web/images/brand/b-1.png}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person"><img th:src="@{/web/images/brand/b-2.png}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person"><img th:src="@{/web/images/brand/b-3.png}" alt="" class="img-responsive">
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">合作要求</h3>
                            <p> 1.选址需经过总公司考核。<br>
                                2. 统一品牌规划。<br>
                                3. 统一提供（配送）主配料。<br>
                                4. 采购指定原材料品种（种类），以保证出品质量和效果。<br>
                                5. 客户必须履行合同的要求进行经营。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img th:src="@{/web/images/brand/c-1.png}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                            <h3 class="wow fadeInDown animated">合作条件</h3>
                            <p>1.有独立承担民事责任能力自然人或独立承担民事责任的企业法人。
                                2.有相应的资金能力和抗风险意识。
                                3.有一定的启动资金、市场经验、具备较强的经营意识共发展的信心。
                                4.具有良好的信誉基础和积极向上的创业激情。
                                5.认同经营理念和发展目标,愿与公司携手共进,共同开拓市场。
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <img th:src="@{/web/images/brand/c-2.png}" alt="" class="img-responsive">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">品牌宣传支持</h3>
                            <p>总部将大力投入品牌广告，在全国范围内打开品牌的知名度，为客户带来更好的品牌效应，形成良好的风尚广告。<br><br></p>
                        </div>
                        <img th:src="@{/web/images/brand/5.jpg}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">门槛低</h3>
                            <p>认可公司的运营模式，有基础的创业资金装修和设备都是比较简约实用，原材料制作成本和人员配置都少，可灵活轻松经营。   </p>
                        </div>
                        <img th:src="@{/web/images/brand/6.jpg}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">专业团队</h3>
                            <p>鼎味轩餐饮拥有庞大的研发团队品牌战略团队，运营管理团队，后期服务团队给你全程提供开店支持，让你创业无忧，经营无忧。</p>
                        </div>
                        <img th:src="@{/web/images/brand/7.jpg}" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="person">
                        <div class="person-content">
                            <h3 class="wow fadeInDown animated">技术指导支持</h3>
                            <p>店铺的经营过程中，随时可以通过电话、邮件视频等方式获得总部的技术指导；总部技术也将上门指导，帮助门店突破技术瓶颈 </p>
                        </div>
                        <img th:src="@{/web/images/brand/8.jpg}" alt="" class="img-responsive">
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div class="row">
                <div class="services-content">
                    <h5>合 / 作 / 流 / 程</h5>
                        <div class="services-content">
                            <h3 class="editContent">预约申请</h3>
                            <ul class="table-content">
                                <li class="editContent">总部收到申请后会进行合作资质评估</li>
                            </ul>
                        </div>
                </div>
            </div>

    	</div>
    </div>
    
</section>
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"广州万润餐饮管理有限公司是一家集餐饮管理、 餐饮运营指导餐饮营销策划、餐饮技术培训、餐饮食品研发为一体的餐饮企业公司由一批拥有十余年餐饮连锁运营管理经验的精英共同打造核心骨干成员均来自全国各大城市的连锁品牌管理先驱者。
公司自创建之日起，就秉承“以人为本，为客户创造价值， 为员工创造未来的”核心价值观，致力于在全国范围内，打造轻餐饮龙头企业。通过不断的努力和长期以来的发展，取得了显著的成效旗下“ 万润”品牌先后创立了鼎玖香、幸福桃源、湘遇湘知、琉璃鲸等众多知名产品，为推动中国时尚餐饮业发展，做出了强大的贡献，欢迎来电咨询。" </h1>
                <p>广州万润餐饮管理有限公司</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"广州万润餐饮管理有限公司是一家集餐饮管理、 餐饮运营指导餐饮营销策划、餐饮技术培训、餐饮食品研发为一体的餐饮企业公司由一批拥有十余年餐饮连锁运营管理经验的精英共同打造核心骨干成员均来自全国各大城市的连锁品牌管理先驱者。
公司自创建之日起，就秉承“以人为本，为客户创造价值， 为员工创造未来的”核心价值观，致力于在全国范围内，打造轻餐饮龙头企业。通过不断的努力和长期以来的发展，取得了显著的成效旗下“ 万润”品牌先后创立了鼎玖香、幸福桃源、湘遇湘知、琉璃鲸等众多知名产品，为推动中国时尚餐饮业发展，做出了强大的贡献，欢迎来电咨询。" </h1>
                <p>广州万润餐饮管理有限公司</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"广州万润餐饮管理有限公司是一家集餐饮管理、 餐饮运营指导餐饮营销策划、餐饮技术培训、餐饮食品研发为一体的餐饮企业公司由一批拥有十余年餐饮连锁运营管理经验的精英共同打造核心骨干成员均来自全国各大城市的连锁品牌管理先驱者。
公司自创建之日起，就秉承“以人为本，为客户创造价值， 为员工创造未来的”核心价值观，致力于在全国范围内，打造轻餐饮龙头企业。通过不断的努力和长期以来的发展，取得了显著的成效旗下“ 万润”品牌先后创立了鼎玖香、幸福桃源、湘遇湘知、琉璃鲸等众多知名产品，为推动中国时尚餐饮业发展，做出了强大的贡献，欢迎来电咨询。" </h1>
                <p>广州万润餐饮管理有限公司</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"广州万润餐饮管理有限公司是一家集餐饮管理、 餐饮运营指导餐饮营销策划、餐饮技术培训、餐饮食品研发为一体的餐饮企业公司由一批拥有十余年餐饮连锁运营管理经验的精英共同打造核心骨干成员均来自全国各大城市的连锁品牌管理先驱者。
公司自创建之日起，就秉承“以人为本，为客户创造价值， 为员工创造未来的”核心价值观，致力于在全国范围内，打造轻餐饮龙头企业。通过不断的努力和长期以来的发展，取得了显著的成效旗下“ 万润”品牌先后创立了鼎玖香、幸福桃源、湘遇湘知、琉璃鲸等众多知名产品，为推动中国时尚餐饮业发展，做出了强大的贡献，欢迎来电咨询。" </h1>
                <p>广州万润餐饮管理有限公司</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
<div class="container-fluid">
<div id="map-row" class="row"> 
        <div id="map-overlay" class="col-sm-12" style="">
  		<h2 style="margin-top:0;color:#fff;">联系我们Contact us</h2>
  		<address style="color:#fff;">
  			<strong>武汉鼎味轩餐饮</strong><br>
  			热线电话: 400-000-5825<br>
  			公司官网: www.wanruncy.com<br>
  			公司地址: 白云区黄石立交黄园路国际单位二期A5栋二楼<br>
  			<!-- <abbr title="Phone">Tel:</abbr> (604) 555-4321 -->
  		</address>
	  Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
  	</div>
</div>
</div>
</footer>
<script th:src="@{/web/js/jquery.min.js}"></script> 
<script th:src="@{/web/js/bootstrap.min.js}"></script> 
<script th:src="@{/web/js/jquery.flexslider-min.js}"></script> 
<script th:src="@{/web/js/jquery.fancybox.pack.js}"></script> 
<script th:src="@{/web/js/retina.min.js}"></script> 
<script th:src="@{/web/js/modernizr.js}"></script> 
<script th:src="@{/web/js/main.js}"></script> 
<script th:src="@{/web/js/jquery.contact.js}"></script> 
</body>
</html>